<div class="ui attached message">
  <div class="header">
    Send a new Service
  </div>
  <p>Fill out the form in order to send your Service.</p>
</div>

<%= form_for @service, :html => {:class => "ui form attached fluid segment"} do |f| %>

  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :require %>
    <%= f.text_area :require %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_area :price %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit service", class: "ui blue submit button" %>
  </div>

<% end %>
view raw
