<div>
   <%= render "partials/menu.html.erb" %>
</div>



<div class="container">
  <h1 style="margin-top: 30px">Show services on a nice way</h1>
    <% if current_partner %>
      <%= link_to "New Service", new_service_path, class: "button" %>
    <% end %>
  <div class="relaxed divided items">
    <% @services.each do |service| %>
      <div class="item">
          
        <div class="content">
          <%= link_to service.title, service, class: "header" %>
          <div class="description">
            <%= service.description %>
          </div>
          <div class="Require">
            <%= service.require %>
          </div>
          <div class="description">
            <%= service.price %>
          </div>
         
        </div>
      </div>
    <% end %>
  </div>
</div>

