

<div class="ui container">
  <div class="ui relaxed divided items">
    <div class="item">
      
      <div class="content">
        <a class="header"><%= @service.title %></a>
      </div>
        <div class="description">
          <%= @service.description %>
        </div>
        <div class="description">
          <%= @service.price %>
        </div>
        <div class="description">
          <%= @service.require %>
        </div>
        <div class="extra">
          <%= image_tag @service.partner.avatar.url(:thumb), class: "ui circular avatar image" %> <%= @service.partner.email %>
        </div>
          
        <div class="ui labeled button" tabindex="0">
          <div class="ui blue button">
            <i class="heart icon"></i>
          </div>
          <div class="ui basic blue left pointing label">
            101
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>

