<div class="ui container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "ui form attached fluid segment" }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :avatar, class: "ui teal button" %>
      <%= f.file_field :avatar, style: "display: none" %>
    </div>

     <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Update", class: "ui green submit button" %>
    </div>
  <% end %>
  
  <h3>Cancel my account</h3>
  
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "ui red button", data: { confirm: "Are you sure?" }, method: :delete %></p>
  
  <%= link_to "Back", :back %>
</div>
