<div class="ui container">
  <div class="ui attached message">
    <div class="header">
      Join the crowd!
    </div>
    <p>Fill out the form below to sign-up for a new account</p>
  </div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "ui form attached fluid segment"}) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="form-group">
        <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.file_field :avatar %>
        </div>
    </div>

    <div class="field">
      <%= f.label :name %>
      <div class="ui left icon input">
        <%= f.text_field :name %>
        <i class="globe icon"></i>
      </div>
    </div>
   
    <div class="field">
      <%= f.label :email %>
      <div class="ui left icon input">
        <%= f.email_field :email %>
        <i class="globe icon"></i>
      </div>
    </div>
    
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="ui left icon input">
        <%= f.password_field :password, autocomplete: "off" %>
        <i class="lock icon"></i>
      </div>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %>
      <div class="ui left icon input">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <i class="lock icon"></i>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit "Sign up", class: "ui blue submit button" %>
    </div>
    
    <p>Once you click on Sign up, you automatically agree to our <a href="#">Terms and Conditions</a>.</p>
    
  <% end %>
  
  <div class="ui bottom attached warning message">
    <i class="icon help"></i>
    Already signed up? <%= link_to "Login here", new_user_session_path %> instead.
  </div>
  
</div>
