<nav class="navbar navbar-default">
  <div class="container-fluid">    


<% if !current_user %>
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>  
    </button>
<% else %>
    <div class="navbar-header pull-left">
<% end %>
    

    <a class="navbar-brand" href="#">BeU</a>
    </div>


<% if !current_user %>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Become partner</a></li>
        <!-- <li> <%= link_to "Login", new_user_session_path, class: "item" %></li> -->
        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <%= render "devise/sessions/new" %>

        <li class="hidden-lg hidden-md"><a href="#">Download app</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
<% else %>
    <div class="nav navbar-header pull-right ">
      <ul class="nav navbar-nav pull-left hidden-xs">
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Become Partner</a></li>
      </ul>
      <ul class="nav pull-left">
        <li class="pull-left">
          <a href="#"><span class="glyphicon glyphicon-inbox"></span></a>
        </li>
        <li class="pull-left">
          <a href="#"><span class="glyphicon glyphicon-globe"></span></a>
        </li>
        <li class="dropdown pull-left">
          <a href="#" class="dropdown-toogle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu pull-right" id="dropdown-navbar">
            <li><a href="#">Tus tickets</a></li>
            <li><a href="#">Wichlist</a></li>
            <li class="hidden-md hidden-lg"><a href="#">Download app</a></li>
            <li><a href="#">Cuenta</a></li>
            <li><a href="#">Perfil</a></li>
            <li class="divider visible-xs"></li>
            <li class="visible-xs"><a href="#">Become partner</a></li>
            <li class="visible-xs"><a href="#">Help</a></li>
          </ul>
        </li>
      </ul>
    </div>
<% end %>
  

  </div><!-- /.container-fluid-->
</nav>



<% if current_user %>
<%= link_to "logout", destroy_partner_session_path, method: :delete, class: "item" %>
<% end %>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
<div class="modal fade" id=myModal " tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 
<div class="ui stackable container menu" id="nav_bar">
  <div class="item">
    <img src="http://semantic-ui.com/examples/assets/images/logo.png">
  </div>
  <%= link_to "Services", services_path, class: "item" %>
  <div class="menu right">
    <% if current_user %>
      <img  class="ui mini circular image" <%= image_tag(current_user.avatar.url(:thumb)) %>
      <%= link_to current_user.name, current_user %>
      <%= link_to "cuenta",  edit_user_registration_path, class: "item" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
    <% elsif current_partner %>
      <img  class="ui mini circular image" <%= image_tag(current_partner.avatar.url(:thumb)) %>
      <%= link_to current_partner.email, current_partner %>
      <%= link_to "cuenta", edit_partner_registration_path, class: "item" %>
      <%= link_to "logout", destroy_partner_session_path, method: :delete, class: "item" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "item" %>
      <%= link_to "Register", new_user_registration_path, class: "item" %>
      <%= link_to "become Partner", new_partner_registration_path, class: "item" %>
      <%= link_to "login as Partner", new_partner_session_path, class: "item" %>
    <% end %>

  </div>
</div>
 -->