
<div>
  <h2 class="jumbotron">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "ui form attached fluid segment"}) do |f| %>
  
    <div class="field">
      <%= f.label :email %>
      <div class="ui left icon input">
        <%= f.email_field :email, autofocus: true %>
        <i class="users icon"></i>
      </div>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <div class="ui left icon input">
        <%= f.password_field :password, autocomplete: "off" %>
        <i class="lock icon"></i>
      </div>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me, class: "hidden" %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "Log in", class: "ui blue submit button" %>
    </div>
    
  <% end %>
  
  <%= render "devise/shared/links" %>

</div>

 
<div class="modal fade" id=myModal " tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->