// @import "semantic-ui";
@import "bootstrap";
@import "bootstrap-sprockets";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.glyphicon{
	padding-top: 5px;
	display: block;
	text-align: center;
	color: #363D37

}
.conatiner{
	border: solid, black;
	padding: 50px;


}

// #dropdown-navbar{
// 	right: auto;
// }
// #dropdown-navbar::before{
// 	left: 12px;
// 	right: auto;
// }

// #dropdown-navbar{
// 	left: 13px;
// 	right: auto;
// }